.contact-section{
  float: right;
  position: absolute;
  top: -104px;
  right: 0;
  cursor: pointer;
  &:hover{
    margin-right: -3px;
    margin-top: 3px;
    box-shadow: none;
  }
}

.skill-set-section{
  &.show-window{
    padding: 20px;
  }
  ul li{
    list-style-position: inside;
  }
}