<div class="slide-wrap orange-bg" [class.show-window]="isShowSlide" [class.hide-window]="!isShowSlide">
  <div class="close-btn purple font-xl px-3" (click)="onClickClose()">&#10006;</div>
  <ngb-carousel #itemSlide *ngIf="workContent">
    <ng-template ngbSlide *ngFor="let content of workContent; let index = i" [id]="content.id">
      <div class="slide-content-wrap row mx-0 justify-content-center align-items-center px-4">
        <div class="custom-caption col-12 white-7">
          <p [innerHtml]="content.description">
            
          </p>
          <a *ngIf="content.isYoutube" class="font-xl d-block mt-2 ml-2" 
              [href]="content.url" target="_blank" >
            Watch demo on <app-youtube-icon></app-youtube-icon>
          </a>
        </div>
        <ng-container *ngIf="content.images">
          <div class="col-12 col-md-6 mt-4" *ngFor="let img of content.images">
            <img [src]="img.src" >
          </div>
        </ng-container>
      </div>
    </ng-template>

    <ng-template ngbSlide id="vita-mov">
      <app-demo-vita #vitaDemoElem ></app-demo-vita>
    </ng-template>
  </ngb-carousel>
</div>