<div class="slide-content-wrap row mx-0 justify-content-center align-items-center px-5">
  <div class="custom-caption col-12 white-7">
    <p>
      Technology: CSS Animation ; Communicate with LED control system ; Queue up to play animation if multi player
    </p>
    <a class="font-xl d-block mt-2 ml-2" 
        href="https://www.youtube.com/embed/Ev1n3d0U71c" target="_blank" >
      Watch demo on <app-youtube-icon></app-youtube-icon>
    </a>
  </div>

  <div class="col-12 col-md-12 mt-4">
    <div class="demo-wrapper pages p2 mx-auto" >
        <div class="throw-wrap">
        <div class="drag-area ">
          <div class="draggable " >
            <div class="pyro left">
              <div class="before"></div>
              <div class="after"></div>
            </div>
            <div class="pyro top">
              <div class="before"></div>
              <div class="after"></div>
            </div>
            <div class="pyro right">
              <div class="before"></div>
              <div class="after"></div>
            </div>
            <div class="pyro bottom">
              <div class="before"></div>
              <div class="after"></div>
            </div>

            <div class="firefly">
              <div class="glow"></div>
            </div>
            <img class="item wing show" src="../../assets/img/lancome_fireworks/wing.png" />
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-12 col-md-6 mt-4">
    <img src="../../assets/img/lancome_firework.jpg" >
  </div>

  <div class="col-12 col-md-6 mt-4">
    <img src="../../assets/img/lancome_firework_venue.png" >
  </div>

</div>