.profile-section{
  height: 100vh;
  max-height: -webkit-fill-available;
  display: table;
  .name-wrap{
    display: none;
  }
  .name-text-only{
    display: inline-block;
    text-shadow: -4px -4px 1px white, 
                 -3px -3px 1px white,
                 -2px -2px 1px white, 
                 -1px -1px 1px white,
                 0px 0px 1px white;
    font-size: 100px;
    line-height: 90px;
    padding-left: 4px;
    padding-top: 4px;
    cursor: cell;
    &:hover{
      margin-right: 4px;
      margin-bottom: 4px;
      text-shadow: none;
      padding-left: 0;
      padding-top: 0;
      -webkit-text-stroke: 1px white;
    }
  }
  .introduction{
    margin-top: 20px;
    li{
      list-style: none;
      &:before{
        content: '_';
      }
    }
  } 
  .work-item-wrap{
    .chat-bubble{
      box-shadow: 1px 1px black;
    }
    &:hover{
      .chat-bubble{
        opacity: 0.5;
        margin-top: 2px;
        margin-left: 2px;
        box-shadow: 0px 0px black;
      }
    }
  }
  .work-item{
    width: 30px;
    height: 30px;
    display: inline-block;
    box-shadow: 2px 2px 1px #403f3f;
    margin: 5px;
    cursor: pointer;
    animation: click-dot, click-dot, click-dot;
    animation-duration: .3s;
    
    &:hover{
      box-shadow: none;
      margin-top: 6px;
      margin-left: 10px;
      margin-right: 0;
      margin-bottom: 0;
    }
    &.item-0{
      animation-delay: 0s, 4.5s, 9s; 
    }
    &.item-1{
      animation-delay: 0.5s, 5s, 9.5s;
    }
    &.item-2{
      animation-delay: 1s, 5.5s, 10s;
    }
    &.item-3{
      animation-delay: 1.5s, 6s, 10.5s;
    }
    &.item-4{
      animation-delay: 2s, 6.5s, 11s;
    }
    &.item-5{
      animation-delay: 2.5s, 7s, 11.5s;
    }
    &.item-6{
      animation-delay: 3s, 7.5s, 12s;
    }
    &.item-7{
      animation-delay: 3.5s, 8s, 12.5s;
    }
    &.item-8{
      animation-delay: 4s, 8.5s, 13s;
    }
  }
}

@media only screen and (max-width: 500px) {
  .profile-section {
    .name-text-only{
      display: none;
    }
    .name-wrap{
      padding-right: 0px;
      padding-bottom: 0px;
      display: inline-block;
      .name{
        width:300px;
        &.with-shadow{
          display: block;
        }
        &.no-shadow{
          display: none;
        }
      }
      &:hover{
        margin-left:-10px;
        margin-top: -10px;
        padding-right: 10px;
        padding-bottom: 10px;
        .name.no-shadow{
          display: block;
        }
        .name.with-shadow{
          display: none;
        }
      }
    }
  
    .introduction {
      li{
        line-height: 24px;
        margin-bottom: 10px;
      }
      .sub-intro{
        line-height: 24px;
      }
    }
    .work-item{
      width:25px;
      height:25px;
    }
  }
  .work-item-wrap{
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 380px) {
  .profile-section .work-item{
    width: 20px;
    height: 20px;
  }
}

@media only screen and (max-width: 370px) {
  .profile-section{
    .name{
      // font-size: 60px;
      width:250px;
    }
    .introduction {
      li{
        line-height: 20px;
        margin-bottom: 5px;
      }
      .sub-intro{
        line-height: 20px;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .profile-section .work-item{
    width:18px;
    height:18px;
  }
}

@keyframes click-dot{
  50%{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 0;
    margin-bottom: 0;
  }
}
