<div class="profile-section section-container orange-bg">

  <div class="h-100 d-flex flex-column justify-content-between">
    <div class="profile-wrap w-100">
      <div class="name-wrap">
        <img class="name with-shadow" src="../../assets/img/web/name@3x.png" />
        <img class="name no-shadow " src="../../assets/img/web/name_normal@3x.png" />
      </div>
      <div class="name-text-only purple font-custom">
        This is Zoe
      </div>
      
      <app-contact #contactComponent class="d-block position-relative"></app-contact>
      <div class="introduction white-7 font-custom font-xl text-left">
        <ul class="pl-0">
          <li>I've been Web Developer for 4 years</li>
          <li>Created over 30 websites.</li>
          <li>Love to learn new things about programming</li>
          <li>Love to build interesting website</li>
          <li>This is my portfolio</li>
        </ul>
        <div class="sub-intro">
          Picked some interesting and interactive projects to share with you all!
        </div>
        <h4 class="purple font-custom text-uppercase">Enjoy!</h4>
      </div>
    </div>

    <div class="mt-4 w-100 work-item-wrap d-flex justify-content-between position-relative">
      <div class="chat-bubble">
        <span class="orange font-custom font-l text-uppercase">Click Me</span>
        <span class="rotate-15 d-inline-block orange ml-1">!</span>
      </div>
      <div class="work-item purple-bg purple" [class]="'item-'+d" *ngFor="let dot of dotList; let d = index;" (click)="onClickDot(dot)" >
      </div>
    </div>
  </div>


  <app-works #worksComponent ></app-works>

</div>