@font-face {
  font-family: 'VT323';
  src:  url('/assets/fonts/VT323-Regular.ttf') format('truetype'),
}
// @font-face {
//   font-family: 'PressStart2P';
//   src:  url('/assets/fonts/PressStart2P.ttf') format('truetype'),
// }

//Theme Color
// $purple: #575cae;
// $orange: #ff6d41;
// $pink: #fe7f7f;
// $theme-red: #ff502c;
// $theme-yellow: #ffae13;

$yt-red: #ed462f;
$white-7: rgba(255,255,255,0.7);

:root {
  --theme-primary: #ff6d41;
  --theme-second: #575cae;

  --black: #555;
  --active-blue: #073769;
  --white-7: rgba(255,255,255,0.7);
  --yt-red: #ed462f;

}

.home-page{
  &.theme-blueberry {
    --theme-primary: #575cae;
    --theme-second: #fe7f7f;
  }
  &.theme-orange{
    --theme-primary: #ff6d41;
    --theme-second: #575cae;
  }
  &.theme-tomato{
    --theme-primary: #ff502c;
    --theme-second: #575cae;
  }
  &.theme-cheese{
    --theme-primary: #ffae13;
    --theme-second: #575cae;
  }
}

.test-box{
  display: block;
  padding: 30px;
  background-color: var(--theme-primary);
  span{
    color: var(--theme-second);
  }
}

html{
  background-color: var(--theme-primary);
  max-height: 100vh;
  height: -webkit-fill-available;
  height: -moz-available;
}

body {
  font-family: sans-serif, Helvetica;
  color: var(--black);
  user-select: none;
  box-sizing: border-box;
  height: 100vh;
  max-height: -webkit-fill-available;
}

/* font */
.font-custom{
  // font-family: 'PressStart2P';
  font-family: 'VT323';
}
.black{
  color:black;
}
.white-7{
  color: var(--white-7);
}
.second-color{
  color: var(--theme-second);
  text-shadow: 0px 0px 1px #d49d9d;
}
.second-color-bg{
  background-color: var(--theme-second);
}
.primary-color{
  color: var(--theme-primary);
}
.theme-bg{
  background:  var(--theme-primary);
}
.yt-red{
  color: var(--yt-red);
  &.yt-bg{
    background: rgba(255,255,255,0.8);
    border-radius: 5px;
    padding: 0px 7px;
    white-space: nowrap;
  }
}
.font-xs{
  font-size: 12px;
}
.font-s{
  font-size: 14px;
}
.font-m{
  font-size: 16px;
}
.font-l{
  font-size: 18px;
}
.font-xl{
  font-size: 20px;
}
.fw-500{
  font-weight: 500;
}
.fw-600{
  font-weight: 600;
}
.fw-700, .bold{
  font-weight: 700;
}
.text-underline{
  text-decoration: underline;
}
/* font end */

/* Transform */
.list-square{
  padding-left:15px; //ul
  li{
    list-style: square;
  }
}
.rotate-15{
  transform: rotate(15deg);
}
.white-border{
  border: 10px solid white;
}
/* Transform end */

/* Other */
.chat-bubble{
  border: 2px solid var(--theme-second);
  display: inline-block;
  padding: 2px 7px;
  text-align: center;
  background: var(--theme-second);
  position: absolute;
  top: -45px;
  right: 0;
  &:after{
    content: '';
    display: block;
    position: absolute;
    bottom: -14px;
    width: 14px;
    border: 14px solid transparent;
    border-top-color: var(--theme-second);
    border-bottom: 0px;
    border-right: 0px;
    left: 26px;
  }
}
/* Other end */

/* page setting */
.page-container{
  height: 100vh;
  max-height: -webkit-fill-available;
}
.section-container {
  padding: 5%;
  padding-top:3%;
  width: 100%;
  height: 100vh;
  max-height: -webkit-fill-available;
}

.contact-section{
  right: 3%;
  top: 14%;
  background: white;
  box-shadow: 2px 2px 1px var(--theme-second);
  text-align: center;
}

.hide-window{
  display: block;
  opacity: 0;
  height:0;
  width:0;
  overflow: hidden;
  transition: opacity 0.3s ease;
  .close-btn{
    display: none;
  }
}

.show-window{
  display: block;
  opacity: 1;
  position: fixed;
  top:0%;
  left:0%;
  width:100%;
  height:100%;
  transition: opacity 0.3s ease;
  z-index: 999;
  .close-btn{
    z-index: 2;
    display: inline-block;
    position: fixed;
    cursor: pointer;
    right: 0%;
    top: 2%;
    text-shadow: 2px 2px black;
    font-size: 30px;
    &:hover{
      text-shadow: none;
      margin-left: 2px;
      margin-top: 2px;
    }
  }
}

.btn{
  border: 2px solid var(--theme-second);
  display: inline-block;
  padding: 2px 7px;
  text-align: center;
  background: white;
  box-shadow: 2px 2px black;
  margin-bottom: 20px;
  &:hover{
    outline: none;
    margin-right: -3px;
    margin-top: 3px;
    box-shadow: none;
    margin-bottom: 18px;
  }
  &:focus{
    outline: none;
    box-shadow: 2px 2px black;
    &:hover{
      box-shadow: none;
    }
  }
}
